@page "/"

@if (_currentApplicationState == ApplicationState.SignedOut)
{
    <div>
        <SupabaseAuthenticationComponent OnUserLoggedIn="@OnUserLoggedIn"/>
    </div>
}
else
{
    <div>
        <button @onclick="@OnUserLoggedOut">Sign Out</button>
        <ToDoComponent LoginContext="@LoginContext"/>
    </div>
}